<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546321107813-uqtm6v1lu36mlj5s6642b75o6nraejlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546321107813-uqtm6v1lu36mlj5s6642b75o6nraejlt</string>
	<key>API_KEY</key>
	<string>AIzaSyC7xYaa5Ve_7Wfq6rE3yAGW1laYMmqPzbw</string>
	<key>GCM_SENDER_ID</key>
	<string>546321107813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aimedscribble.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ai-med-scribble-c6e43</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-med-scribble-c6e43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546321107813:ios:700917bbd4a260f64eef8c</string>
</dict>
</plist>